/* Email input styles - Complex border and padding overrides that can't be done with Tailwind */
input[type="email"].reset-email-input,
input[type="email"].reset-email-input:focus,
input[type="email"].reset-email-input:focus-visible,
input[type="email"].reset-email-input:active {
  border-top-width: 0 !important;
  border-left-width: 0 !important;
  border-right-width: 0 !important;
  border-bottom-width: 1px !important;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: rgb(212 212 212) !important;
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  border-bottom-style: solid !important;
  border-radius: 0 !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0.35rem !important;
  background-color: transparent !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  color: inherit !important;
  outline: none !important;
  box-shadow: none !important;
}

.reset-email-label {
  color: #546E7A !important;
}

.reset-email-input-group:focus-within .reset-email-label {
  color: black !important;
}

/* Ripple effect styles */
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  pointer-events: none;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  animation: ripple 500ms ease-out;
  left: var(--ripple-x, 0px);
  top: var(--ripple-y, 0px);
}


